#content {
    margin: 3em 7em 1em 7em;
    border: 0.2em solid;
}

#globalFooter {
    text-align: center;
}

.rollPair {
    margin: auto;
    width: fit-content;
}

.abilityDropdown {

}

.abilityRoll {
    
}

.statArea {

}