#content {
    display: flex;
    flex-direction: column;
    margin: 3em 7em 1em 7em;
    border: 0.2em solid;
}

#globalFooter {
    text-align: center;
}

.rollPair {
    align-self: center;
}

.abilityDropdown {

}

.abilityRoll {
    
}

.statArea {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-left: 25vw;
    padding-right: 25vw;
}

.statsStateButtons {
    align-self: flex-end;
}

#statsNextButton {
    align-self: center;
}

.nameBox {
    align-self: center;
    margin: 0.6em auto;
    text-align: center;
    width: 60%;
}